*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
-FOR MOBILE LOOKS-
-blue rectangle for main content link with content centered
-google font for big header and content is centered as well
-each nav link on a grey rectangle with style removed but stay underlined
    -hover color red
-picture to be 339 x 224 for place holder
-Main section and sub section stays the same with paragraphs wrap around to fit screen
 */

html{
    font-family: 'Poppins', sans-serif;
}

body{
padding: 1em;
    display: flex;
    flex-direction: column;

}

.alert-info{
    /*display: flex;*/
    /*text-decoration: none;*/
    background-color: #c6f6f7;
    border: 2px solid lightgrey;
    text-align: center;
    height: 3.5em;
    /*align-items: center;*/
    /*align-content: center;*/
    padding-top: 10px;
}

h1{
    text-align: center;
    font-weight: bolder;
}

nav{
    width: 100%;
}

nav ul li{
    background-color: #c5c5c5;
    margin: 1em 0 1em 0;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

.header-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;

}

section{
    margin-top: 3em;
}

footer{
    margin-top: 5em;
}


@media screen and (min-width: 890px){

    .alert-info{
        display: none;
    }


    h1{
        display: inline-block;
        text-align: left;
        font-weight: bolder;
    }
nav{
    display: inline-flex;
    flex-direction: row;


}
    nav ul li{
        background-color: white;
        margin: 1em 0 1em 0;
        list-style-type: none;
    }



}