:root{
    /*using the root for the bonus portion is a quicker way to invoke a color with var(--info-blue)*/
    --blue: #c3d6f9;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message{
border: 1px solid #dbdada;
    border-radius: 6px;
    margin: .5em 1.5em;
    height: 1.7em;
    width: 50em;
    padding-left: 10px;
    padding-top: 8px;
}

.message-info{
    background-color: #c7d7f6;
    color: #454099;

}

.message-success{
background-color: #c9ebd2;
    color: #328253;
}

.message-warning{
background-color: #f3f3c3;
    color: #887612;
}

.message-error{
background-color: #f1cdd1;
    color: #984154;
}