

.fancy-header {
    /*color: purple; !* single line comment *!*/
    text-decoration: underline;
}

h1{
    color: cornflowerblue;
    text-align: center;
}

h3{
    color: cornflowerblue;
    text-decoration: underline;
    /*text-align: center;*/
}

body{
    background-color: beige;
    background-image: url("https://previews.123rf.com/images/cienpies/cienpies1408/cienpies140800046/30667881-clean-enso-zen-circle-illustration-and-buddha-silhouette-with-drop-shadow-over-white-background-.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Crete Round', serif;
    text-align: center;
}

ol {
    list-style-type: upper-roman;
    /*text-align: center;*/
}

ul {
    list-style: square;
    /*text-align: center;*/
}

table {
    border: thin dotted black;
    border-collapse: collapse;
    font-size: large;
}

th td{
    border: thin dotted black;
    padding: 7.5px;
}

a:hover {
    background-color: yellow;
    color: red;
}

.auto-margin{
    margin-left: auto;
    margin-right: auto;
}